@import url(../common.less);

.calendar {
    .noselect;

    .header-day, .day {
        width: (100%) / 7;
        padding: 0;
        overflow: hidden;
    }

    .day {
        &.today {
            background: @color-link;
            color: @color-background-content;
        }

        &:nth-child(7n):not(.today), &:nth-child(7n-1):not(.today) {
            color: @color-link;
            &:hover:not(.past) {
                color: #333;
            }
        }
    }

    .clndr-previous-button, .clndr-next-button, .day {
        cursor: pointer;

        &.past {
            cursor: default;
        }
    }

}

.big-calendar {
    .calendar;

    .clndr-control-buttons {
        padding: 15px 15px 0 15px;
    }

    .header-day, .day {
        border-right: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
        font-family: "Times New Roman", serif;
    }

    .header-day {
        border-top: 1px solid #d7d7d7;
        height: 30px;
        line-height: 30px;
        font-size: 12pt;

        &:first-child {
            border-left: 1px solid #d7d7d7;
        }
    }

    .day {
        height: 100px;
        font-size: 20pt;
        font-weight: bold;
        padding-top: 15px;
        padding-left: 15px;

        &:nth-child(7n-6) {
            border-left: 1px solid #d7d7d7;
        }

        &:hover:not(.past) {
            color: @color-link;
            &.today {
                background-color: @color-background-content;
            }
        }
    }

    .adjacent-month, .past, .event {
        background: #F1EDEA;
    }

    .adjacent-month {
        font-weight: normal;
        font-size: 12pt;
    }
}

.admin-calendar {
    .day {
        @media (max-width: 767px) {
            height: 50px;
            font-size: 16pt;
        }

        @media (min-width: 768px) {
            height: 100px;
            font-size: 20pt;
        }

        @media (min-width: 1200px) {
            height: 75px;
            font-size: 16pt;
        }
    }
}

.small-calendar {
    .calendar;

    .header-day {
        height: 20px;
        font-size: 10pt;
        background: #492E3D;
        color: #fff;
    }

    .day {
        background: @color-content;
        height: 40px;
        text-align: center;
        line-height: 40px;

        &.today {
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;
            -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;
        }

        &:hover:not(.past):not(.event) {
            font-weight: bold;
        }

    }

    .adjacent-month, .adjacent-month.day:nth-child(7n), .adjacent-month.day:nth-child(7n-1) {
        color: #a1a1a1;
    }

    .calendar {
        margin-top: 4em;
    }

    .clndr-controls {
        height: 40px;
        line-height: 40px;
        background: @color-link;
        color: @color-background-content;
    }

    .clndr-control {
        padding: 0;
    }
}

.big-calendar:not(.admin-calendar), .small-calendar {
    .day.event {
        cursor: default;
    }
}