@import url(../common.less);

.footer {
    background: url('../../img/footer_bg.png');
    background-size: 100% 100%;

    color: @color-background-content;
    h2 {
        color: @color-link;
    }

    .footer-social {
        a {
            color: @color-background-content;
            &:hover {
                color: @color-link;
            }
        }
    }
}