@import url(../common.less);

@header-bg-height: 105px;
.header {
    background: url('../../img/header_bg.png') no-repeat;
    background-size: 100% 100%;
    height: @header-bg-height;
    line-height: @header-bg-height;

    nav {
        min-width: 475px;
        ul {
            line-height: normal;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 13px;
                border-bottom: 1px solid @color-link-menu;
                .inline-block-fix;

                &:hover {
                    .current;
                    cursor: hand;
                }

                a {
                    font-size: 14pt;
                    text-decoration: none;
                    color: @color-link-menu;
                }

                &.current {
                    border-bottom: 1px solid @color-link;
                    a {
                        color: @color-link;
                    }
                }
            }
        }
    }
}