@import url(../common.less);
@import url(../../plugins/bootstrap-datepicker/css/datepicker.css);

.meeting-time-intervals {
    width: 230px;
    padding: 5px;
    white-space: normal;

    .meeting-time-interval {
        margin: 5px;
        padding: 0;
        width: 100px;

        > label {
            padding: 3px;
        }

        > input {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        > input:hover + label {
            background: #eee;
        }

        > input:disabled + label {
            background: #eee;
            color: #aaa;
        }

        > input:checked + label {
            background: @color-link;
            color: #fff;
        }

        &.interval-disabled {
            pointer-events: none;
        }
    }
}
