@import url(../common.less);

.news-date {
    border-radius: 50%;
    background-color: @color-link;
    width: 70px;
    height: 70px;
    text-align: center;
    color: @color-background-content;
    display: inline-block;
    vertical-align: top;

    .news-date-number {
        display: block;
        font-size: 24pt;
        margin-bottom: 10px;
        margin-top: 17px;
        line-height: 10pt;
    }
}