/* Last photos */
.photo-list(@mb: 0px, @mr: 13px, @photo-width: 200px, @photo-height: 160px,  @recent-photo-width: 200px, @recent-photo-height: 200px) {
    list-style: none;
    margin: 0 0 @vertical-padding 0;
    padding: 0;

    li {
        display: inline-block;
        height: @recent-photo-height;
        width: @recent-photo-width;
        background: @color-background-content;
        margin-right: @mr; // + 4px inline-block
        margin-bottom: @mb;
        padding: 10px;

        .recent-photos-image {
            width: @photo-width;
            height:  @photo-height;
            display: block;
            overflow: hidden;
        }

        &:last-child {
            margin-right: -4px;
        }
    }
}