@import url(photos.less);
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.photo-thumbnail {
    padding: 0;
    margin: 0 15px 15px 15px;
    width: 290px;
    .photo-thumbnail-image {
        height: 170px;
        overflow: hidden;
    }
    .photo-thumbnail-caption {
        height: 40px;
        line-height: 40px;
        background: #eee;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
    }
}

.photos > li {
    padding-bottom: 14px;

    &:nth-child(4n-3) {
        padding-left: 0;
    }
}


.panel-image {
  position: relative;
  cursor: pointer;
}

.display-block {
  display: block;
}
.panel-image img.panel-image-preview {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.panel-image label {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}



.panel-heading ~ .panel-image img.panel-image-preview {
  border-radius: 0px;
}

.panel-body {
  overflow: hidden;
}

.panel-image ~ input[type=checkbox] {
  position:absolute;
  top:- 30px;
  z-index: -1;
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
  height: 0px;
  padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
  height: auto;
  padding: 15px;
}

.panel-image ~ .panel-footer a {
  padding: 0px 10px;
  font-size: 1.3em;
  color: rgb(100, 100, 100);
}