@import url(../common.less);

.container-slideshow {
    // Weird value because of inline-block spacing issues
    width: 885px;
    padding: 15px;
    background: @color-background-content;
    max-height: 390px;
    overflow: hidden;
    .border;

    .slideshow-image, #thumbs {
        display: inline-block;
        vertical-align: top;
        .inline-block-fix;
    }

    .image-wrapper {
        position: relative;
        left: 0;
        top: 0;
    }

  .previous {
    z-index: 2
  }
  .current {
    z-index: 1;
  }


    .slideshow-image {
        overflow: hidden;
        height: 360px;
        width: 600px;
    }

    #thumbs {
        height: 360px;
        overflow: hidden;

        .pagination {
            display: none !important;
            visibility: hidden !important;
        }

        .thumbs {
            padding: 0;
            margin: 0 0 0 15px;
            width: 240px;
            > li {
                display: inline-block;

                &:nth-child(2n-1) {
                    margin-right: -5px;
                }
            }
        }
    }
}

@btnHeight: 30px;

#slider-first-layer {
  z-index: 10;
   top: -@btnHeight;
  position:relative;
}


.slider-second-layer{
  background-color: #000000;
  opacity: 0.5;
  z-index: 11;
  position:relative;
}

/*
#slider-scale .btn, .btn:active, .btn:focus, .btn:hover, .btn:visited {
  border: none;
}
*/

#slider-scale {
  .slider-second-layer;
  text-align: center;
  left: 570px;
  padding: 5px;
  width: 30px;
}

.pointer {
  cursor: pointer !important;
}

#slider-scale .glyphicon {
  color: white;
}

#slider-scale:hover {
 opacity: 0.6;
}

.slider-gallery-descr {
  .slider-second-layer;
  bottom:  90px;
  height: 60px;
  width: 300px;
  padding: 10px;
}

.slider-gallery-descr.with-text{
  bottom:  130px;
  height: 100px;
  color: white;
}

.slider-gallery-descr h4, p {
  margin-top: 0;
  margin-bottom: 0px;
}


.slider-gallery-descr  a {
  color: white;
}
.slider-gallery-descr  a:hover {
  color: white;
}