<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:remove="all">Ostphoto: photo shoot successfully scheduled</title>
</head>
<body>
<p>
    Hello, <span th:text="${name}"></span>
</p>

<p>
    Your photo shoot was successfully scheduled for <span th:text="${date}">01-01-2014</span> at <span
        th:text="${time}">10:00</span></p>

<p>
    Please feel free to contact us on any matters by phone: <span th:text="${phone}">+79123456789</span> or just by
    replying to this message.
</p>

<p>
    Best Regards, <br/>
    Ostphoto administrator
</p>
</body>
</html>