@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

@content-width: 935px;
@vertical-padding: 30px;

@color-link: #B22207;
@color-link-menu: #fff;
@color-background: #fff;
@color-background-content: #fff;
@color-border: #d9d4ce;
@color-content: #eae5df;


h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1pt;
}

a, h3, a:hover {
    color: @color-link;
}

.container {
  width: 1026px;
}

.noselect {
    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
}

.inline-block-fix {
    margin-right: -4px;
}

.portfolio {
  min-height: 800px;
}
.border {
    border: 1px solid @color-border;
}

.valign {
    text-align: justify;
    display: table;

    > * {
        float: none;
        display: table-cell;
        vertical-align: top;
        margin-right: -4px;

        &.valign-middle {
            vertical-align: middle;
        }
    }
}

.right-block {
    text-align: right;
    > * {
        text-align: left;
    }
}

.hr-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5em;
    > div {
        width: 35px;
        height: 3px;
        background: @color-link;
    }
}


.min-height {
  min-height: 800px;
}


.marginBottom10 {
  margin-bottom: 10px;
}


/*.main-menu.nav-pills{
  float: right;
  font-size: 13pt;
  line-height: normal;
}

.glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}*/


/*.main-menu>.nav-pills > li > a {
  border-radius: 0;
  color: #ffffff !important;
  padding-bottom: 0;
  height: 105px;
}*/

/*.main-menu.nav-pills > li.active > a,
.main-menu.nav-pills > li.active > a:hover,
.main-menu.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: @color-link;
  height: 105px;
}

.main-menu.nav-pills > li > a:hover,
.main-menu.nav-pills > li > a:focus {
 color: #ffffff;
  height: 105px;
 background-color: rgb(178, 34, 7);
}*/

.main-menu.list-inline > li:first-child {
   padding: 13px;

}

.pad-md-top {
  padding-top: 2em;
}

.pad-md-top2 {
  padding-top: 4em;
}

.pad-md-bottom2 {
  padding-bottom: 4em;
}


.pad-md-bottom {
    padding-bottom: 30px;
}

.pad-sm-bottom {
    padding-bottom: 1em;
}


.row-border {
    .border;
    border-bottom: none;

    + .background {
        border-top: 1px solid @color-border;
    }

    &:not(.background) + :not(.background).row-border {
        border-top: none;
    }

    &:last-child {
        border-bottom: 1px solid @color-border;
    }
}


.border-bottom {
  border-bottom: 1px solid @color-border;
}

.border-top {
  border-top: 1px solid @color-border;
}

/*
.space {
  padding: 0 10px 0 10px;
}
*/

.background {
    background-color: @color-background;
}

.background-cont {
  background-color: @color-content !important;
/*  position:absolute;
  left:0;
  right:0;*/
}

.row-shade-top {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 35%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(35%, rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 35%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 35%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 35%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 35%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}

.row-shade-bottom {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 75%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 75%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.btn {
    .border;
    border-radius: 0;
}

@color-btn: #761700;
.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    border: 1px solid @color-link;
    background: @color-link;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
    background-color: #999;
    border-color: @color-border;
}

.nav-pills>li.newcat>a, .nav-pills>li.newcat>a:hover {
  border: 1px solid @color-link;
  border-radius: 4px;
  background-color: #ffffff;
}

.btn-danger, .btn-danger:focus, .btn-danger:hover, .btn-danger:active {
    color: @color-link;
    background-color: @color-background-content;
}

.nav-pills>li>a:hover {
  color: @color-link;
}


.btn-meeting {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color-link;

}

.alert {
    position: fixed;
    width: 50%;
    left: 25%;
    top: 50%;
    z-index: 10000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.7);
}

.alert-success {
    color: @color-background-content;
    background-color: @color-link;
    border-color: @color-border;
}
