@charset "utf-8";

@import url(../../resources/less/common.less);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    body {
        padding-top: 185px;
    }
}