@import url(../../resources/less/common-admin.less);

.photo-upload-compact {
    input[type=submit] {
        margin-top: 20px;
    }
}


.custom-alert-danger {
  background-color: #f2dede !important;
  border-color: #ebccd1;
  color: #a94442;
}

.photo {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    width: 220px;
    background: white;
    padding: 10px 0 10px 10px;
    .border;

    .photo-thumbnail {
        overflow: hidden;
        height: 160px;
        line-height: 160px;

        img {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
        }
    }

    a {
        display: inline-block;
        margin-top: 7px;
    }
}

.imgTh {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#photolist {

}

.cover-field {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  min-height: 324px;
}

.thumbnail {
  position:relative;
  overflow:hidden;
}

.caption-cov {
  line-height: 300px;
  position:absolute;
  top:0;
  right:0;
  background: rgba(170, 69, 67, 0.75);
  width:100%;
  height:100%;
  padding:2%;
  padding-top: 100px;
  display: none;
  text-align:center;
  color:#fff !important;
  z-index:2;
}

.caption-cov .label-default {
  background-color: #ffffff;
}
.empty-cover h1{
  line-height: 300px;
}

#articleDialog a {
  color: #000000;
  text-decoration: none;
}



.paged-pager {
    margin-top: 10px;
}
.paged-pager-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 5px;
        text-align: center;
        background: #eee;

        a {
            text-decoration: none;
            vertical-align: middle;
            color: #000;
        }

        .fa {
            margin-right: 5px;
        }

        &:last-child {
            margin-right: 0px;
        }

        &.paged-page-current {
            background: #428BCA;
            a {
                color: #fff;
            }
        }

        &.paged-control {
            background: none;
        }
    }
}

.btn-default:hover {
    background-color: white  !important;
}

.btn-default:focus {
    background-color: white  !important;
    outline: none;
}

.btn-default.active:hover  {
    background-color: #ebebeb !important;
}
.btn-default.active:focus  {
    background-color: #ebebeb !important;
}

// chosen bootstrap
select{
    width: 300px;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: @color-link;
}


select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: @color-link;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

.text-center {
  text-align: center;
}

.nomargin {
  margin: 0px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #a94442;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
}


.has-error select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
}

.has-error select.form-control + .chosen-container-multi .chosen-choices {
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
}

.btn-primary.disabled {
  background-color: #DEDEDE;
  border-color:  #ccc;
}


.has-error.dropzone.dz-clickable{
  border-color: #a94442;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(169, 68, 66, 0.60);
}



select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

@media(min-width: 768px) {
    .header-day, .day {
        width: (100%) / 7;
    }

    .day {
        height: 75px;
    }
}

@media (min-width: 992px) {
    .day {
        height: 100px;
    }
}

.day, .header-day {
    border: 1px solid #eee;

}

.day {
    overflow-y: hidden;
}

.clndr-control-buttons {
    padding-top: 15px;
}

#meeting-edit-dialog {
    display: none;
}
